.header1
{
	padding:0px; 
}
.banner
{
	box-sizing:border-box;
	width:100%;
}
.highlight_content
{
	box-sizing:border-box;
	padding:0px;
}

.highlight
{
	position:relative;
	width:100%;
	height:0;
	padding-bottom:56.25%;
}
.main
{
	box-sizing:border-box;
	padding-top:0px;
	position:relative;
	width:100%;
	height:0;
	padding-bottom:56.25%;
}
.update
{
	position:relative;
	width:100%;
	height:0;
	padding-bottom:56.25%;
}
.update_frame
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.main_frame
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
img
{
	width:100%;
}
.highlight_frame
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.intel
{
	box-sizing:border-box;
	width:100%;
	background-color:white;
	margin-bottom:0px;
	padding-bottom:0px;
}
.intel_content
{
	box-sizing:border-box;
	padding-bottom:0px;
	padding-top:0px;
}
.logo
{
	position:relative;
	left:10%;
	width:80%;
	margin-top:5%;
	float:center;
}
table
{
	width:100%;
	border:4px solid black;
}
section
{
	background-color:black;
}
article
{
	background-color:black;
}
#main_sale, .sale_content
{
	background-color:white;
}